
<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Generate Form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form #form="ngForm" >
      <textarea [(ngModel)]="result" name="result" cols="30" rows="10"></textarea>
    </form>
    <button (click)="validate(result)" type="button">Validate</button>
    <div *ngIf="parseError" class="alert alert-danger" style="text-align: center;" role="alert">
      <pre>Invalid JSON Format</pre>
    </div>
   
  </mat-expansion-panel>

  <mat-expansion-panel [disabled]="step === 0" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Generated Form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-dynamic-form [json]="parsedJSON"></app-dynamic-form>
  </mat-expansion-panel>
</mat-accordion>



